.navbar {
  ul {
    margin: $space*2 $space 0 0;
    text-align: right;

    @include bp(xs) {
      margin-top: $space*5;
    }
  }

  li {
    display: block;
    font-weight: bold;
    margin-bottom: $space;
    margin-left: $space;
    text-transform: uppercase;

    @include bp(xs) {
      display: inline-block;
    }
  }

  a {
    //color: $color-text;
    color: $color-green-text;
    text-decoration: none;

    &:hover {
      color: $color-text-dark;
      //color: $color-green-text;
    }

    &:focus, &.active {
      color: $color-red-dark;
      text-decoration: underline;
    }
  }
}