.navbar {
  ul {
    margin: $space*2 $space 0;
  }

  li {
    display: block;
    font-size: $size*1.1;
    font-weight: bold;
    margin-bottom: $space;
    margin-left: $space;
    text-transform: uppercase;
  }

  a {
    color: $color-text;
    text-decoration: none;

    &:focus, &:hover, &.active {
      color: $color-text-dark;
      text-decoration: underline;
    }
  }

  @include bp(xs) {
    ul {
      margin: $space*5 $space 0 0;
    }
    
    li {
      display: inline-block;
    }
  }
}