$color-half-baked: #89cbcd;
$color-monarch: #830c0e;
$color-white: #ffffff;

$color-brand: $color-half-baked;
$color-text: $color-monarch;
$color-bg: $color-white;

$content-min-width: 19em;
$content-mid-width: 38em;
$content-max-width: 76em;

$space: 1rem;

$bp-xxs: 24em; // 384px
$bp-xs: 30em; // 480px
$bp-sm: 33.75em; // 540px
$bp-md: 48em; // 768px
$bp-lg: 62em; // 992px
$bp-xl: 75em; // 1200px